body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f5f5f5;
}

#calc {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full screen height */
  background-color: #e3f2fd;
}

.calculator {
  display: inline-block;
  border: 10px solid rgba(47, 47, 47, 1);
  padding: 20px;
  border-radius: 5px;
  background-color: #1c1c1c;
  width: 300px; /* Adjusted fixed width */
  height: 520px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.display {
  width: 93.5%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bolder;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 0px 0px 5px 5px;
  background-color: #b2b9b7;
  color: #000;
}

.buttons {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 5px;
}

.zero {
  flex: 1 1 calc(50% - 10px); 
}

button {
  flex: 1 1 calc(25% - 10px); 
  padding: 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  text-align: center;
  height: 80px;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition effects */
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.operator {
  background-color: #28a745;
}

.operator:hover {
  background-color: #1e7e34;
}

.equals {
  background-color: #ffc107;
}

.equals:hover {
  background-color: #e0a800;
}

.card {
  height: 20px;
  font-size: 1.0em;
  text-align: right;
  padding: 5px;
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  background-color: #b2b9b7;
}

.card p {
  margin: 0;
  font-weight: lighter;
}


